.f_text{color:white; font-size:3em; font-family:'Noto Serif KR'; }
#f_text2{padding-bottom: 1em;}
.last_wrap{display:flex; width: 100%; justify-content: center; }
.last_text_wrap{ width: 25em; }
.mid_text2{color: white; font-size:10em; height: 25vh; font-family: "Nanum Myeongjo";}
.last_text{color:white; font-size:1.3em; font-family: 'Noto Serif KR';}