.page6_main1,.page6_main2{font-size: 5.5em; font-weight: 700; margin:0; text-align: end;}
.page6_main2{margin-top: -.3em; }
#page6_text{font-size:1.7em; font-weight: 500; color:gray; margin-top: 1em; text-align: end;}

.page6_text2{font-size:1.1em; font-weight: 400; padding-top: 3em; text-align: end;}
  