@import url(https://db.onlinewebfonts.com/c/203ca707d5875159f71d2aff42401749?family=Athelas+Regular);

.DrawerPage1{
    width: 100vw;
    height: 100vh;
    background-color: #0E1E2A;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DrawerPage1_list {
    margin-bottom: -16vh;
    margin-left: 2vw;
}

.DrawerPage1_1{
    font-size: 5vh;
    margin-bottom: -1vh;
    font-family: "Athelas Italic";
    font-style: oblique;
}

.DrawerPage1_2{
    font-size: 18vh;
    margin-bottom: 0vh;
}

.DrawerPage1_3{
    font-size: 5vh;
    margin-bottom: 5vh;
    font-family: "Athelas Italic";
    font-style: oblique;
}

.svg{
    margin-bottom: -5vh;
}