.knob_container{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

.knob_title{
    font-size: 30px;
}

.knobCloseBtn{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
}

.knobCloseBtn img{
    width: 30px;
    height: 30px;
}

.check{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.check_p{
    margin: 10px;
}

.check_b{
    margin: 10px;
}

.prod_name, .prod_brand, .when_buy, .knob_address, .knob_email, .knob_price, .applicant_name, .applicant_phone{
    width: 400px;
    height: 20px;
    border: none;
    font-size: 15px;
    margin: 10px;
    border-bottom: 2px solid rgba(161, 161, 161, 0.9);
    padding: 5px;
    background-color: transparent;
}

.prod_name:focus, .prod_brand:focus, .when_buy:focus, .applicant_name:focus, .applicant_phone:focus, .knob_address:focus, .knob_email:focus, .knob_price:focus, .knob_desc:focus{
    outline: none;
    background-color: #b8b8b8;
    border-radius: 10px;
}

.knob_file{
    width: 400px;
    height: 30px;
    border: none;
    font-size: 15px;
    margin: 10px;
    border-bottom: 2px solid rgba(161, 161, 161, 0.9);
    background-color: transparent;
}

.knob_file{
    cursor: pointer;
}

.knob_desc{
    resize: none;
    width: 400px;
    height: 200px;
    overflow-y: auto;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    margin: 10px;
    border: 2px solid  rgba(161, 161, 161, 0.9);
    padding: 10px;
}

.knob_notice{
    resize: none;
    width: 400px;
    height: 200px;
    overflow-y: auto;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    margin: 10px;
    border: 2px solid rgba(161, 161, 161, 0.9);
    padding: 10px;
}

.knob_desc:focus, .knob_notice:focus{
    outline: none;
}

.go_knob{
    cursor: pointer;
    margin: 10px;
}

.go_knob:active{
    outline: none;
}
