@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Jua&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&family=Titillium+Web:wght@700&display=swap');

.product_list{
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    cursor: grab;
    background-color: black;
    position: relative;
}

.product_container_1 {
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_2 {
    position: absolute;
    top: 5vh;
    left: 45vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_3 {
    position: absolute;
    top: 5vh;
    left: 70vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_4 {
    position: absolute;
    top: 5vh;
    left: 95vw;
    width: 25vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_5{
    position: absolute;
    top: 50vh;
    left: 8vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_6{
    position: absolute;
    top: 50vh;
    left: 33vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_7{
    position: absolute;
    top: 50vh;
    left: 58vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_container_8{
    position: absolute;
    top: 50vh;
    left: 83vw;
    width: 15vw;
    height: 35vh;
    box-sizing: border-box;
}

.product_img{
    position: absolute;
    top: 6vh;
    left: 1.3vw;
    width: 13vw;
    height: 18vh;
    z-index: 1;
}

.product_img_2 {
    position: absolute;
    top: 8vh;
    left: 2.6vw;
    width: 10vw;
    height: 14vh;
    z-index: 1;
}

.product_img_3 {
    position: absolute;
    top: 6vh;
    left: 2.5vw;
    width: 10vw;
    height: 17vh;
    z-index: 1;
}

.product_img_4 {
    position: absolute;
    top: 6vh;
    left: 1.3vw;
    width: 13vw;
    height: 18vh;
    z-index: 1;
}

.product_img_5 {
    position: absolute;
    top: 3vh;
    left: 4vw;
    width: 8vw;
    height: 22vh;
    z-index: 1;
}

.product_img_6 {
    position: absolute;
    top: 2vh;
    left: 4.7vw;
    width: 5.5vw;
    height: 26vh;
    z-index: 1;
}

.product_img_7 {
    position: absolute;
    top: 2vh;
    left: 4.8vw;
    width: 5vw;
    height: 24vh;
    z-index: 1;
}

.product_img_8 {
    position: absolute;
    top: 6vh;
    left: 2.8vw;
    width: 10vw;
    height: 20vh;
    z-index: 1;
}


.product_name{
    position: absolute;
    top: 12vh;
    left: -2.5vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_2 {
    position: absolute;
    top: 12.5vh;
    left: 0.3vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_3 {
    position: absolute;
    top: 12vh;
    left: -0.8vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_4 {
    position: absolute;
    top: 12vh;
    left: -0.3vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_5{
    position: absolute;
    top: 12vh;
    left: 1vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_6{
    position: absolute;
    top: 14vh;
    left: 1vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_7{
    position: absolute;
    top: 14vh;
    left: 1vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_8{
    position: absolute;
    top: 14vh;
    left: 0.5vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(87, 87, 87, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Myeongjo', serif;
}
/* ::before	요소 내용 앞쪽에 새 컨텐츠를 추가 */

.product_name_2::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #96E3D5 ;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_3::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #FBC1BF;
    font-family: 'Nanum Myeongjo', serif;
}
/* ::before	요소 내용 앞쪽에 새 컨텐츠를 추가 */

.product_name_4::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #6E6104;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_5::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_6::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_7::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
}

.product_name_8::before{
    content: attr(prod_title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
}

.product_img:hover, .product_img_2:hover, .product_img_3:hover, .product_img_4:hover, .product_img_5:hover, .product_img_6:hover, .product_img_7:hover, .product_img_8:hover{
    cursor: pointer;
}

.product_link:hover + .product_name::before,
.product_link:hover + .product_name_2::before, .product_link:hover + .product_name_3::before, .product_link:hover + .product_name_4::before,
.product_link:hover + .product_name_5::before, .product_link:hover + .product_name_6::before, .product_link:hover + .product_name_7::before,
.product_link:hover + .product_name_8::before{
    transition: all 0.2s linear;
    width: 100%;
}

.product_link:not(:hover) + .product_name::before,
.product_link:not(:hover) + .product_name_2::before, .product_link:not(:hover) + .product_name_3::before, .product_link:not(:hover) + .product_name_4::before,
.product_link:not(:hover) + .product_name_5::before, .product_link:not(:hover) + .product_name_6::before, .product_link:not(:hover) + .product_name_7::before,
.product_link:not(:hover) + .product_name_8::before{
    transition: all 0.2s linear;
    width: 0;
}

.product_sub_name_1{
    position: absolute;
    top: 28vh;
    left: -0.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_2{
    position: absolute;
    top: 28vh;
    left: 2.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_3{
    position: absolute;
    top: 28vh;
    left: 1.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_4{
    position: absolute;
    top: 28vh;
    left: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_5{
    position: absolute;
    top: 28vh;
    left: 2.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_6{
    position: absolute;
    top: 28vh;
    left: 2.7vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_7{
    position: absolute;
    top: 28vh;
    left: 2.7vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}

.product_sub_name_8{
    position: absolute;
    top: 28vh;
    left: 2.7vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.3);
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
}


