@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.payment3_container_3{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #FFEEE9;
    position: relative;
    font-family: Pretendard;
}

.payment3_wrapper_left{
    flex: 1.2;
    text-align: center;
    position: relative;
    top: 30%;
    left: 0%;
    height: 50%;
}

.payment3_product_img{
    width: 50%;
}

.payment3_wrapper_right{
    flex: 1;
}

.payment3_wrapper_right_box{
    width: 40vw;
    height: 95.65vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 6vw;
}

.payment3_user_info_title{
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    top: 3%;
}

.payment3_user_info{
    border: 3px solid rgb(189, 189, 189);
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 70%;
    height: 36%;
    font-size: 1.5vh;
    background-color: white;
    position: relative;
    top: 3%;
}

.bottomLine3{
    margin: 1.3vh auto;
    width: 23vw;
    height: 0.1vh;
    background-color: rgb(189, 189, 189);
}

.bottomLine3_1{
    margin: 1.3vh auto;
    width: 18vw;
    height: 0.1vh;
    background-color: rgb(189, 189, 189);
}

.payment3_user_info_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1.5vh auto;
}

.payment3_user_info_1_icon, .payment3_user_info_2_icon, .payment3_user_info_3_icon, .payment3_user_info_4_icon, .payment3_user_info_5_icon{
    margin-right: 10px;
}

.payment3_user_info_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1.5vh auto;
}

.payment3_user_info_1_icon, .payment3_user_info_2_icon, .payment3_user_info_3_icon, .payment3_user_info_4_icon{
    width: 20px;
}

.payment3_user_info_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1.5vh auto;
}

.payment3_user_info_4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1.5vh auto;
}

.payment3_user_info_5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1.5vh auto;
    white-space : nowrap;
}

.payment3_user_info_5_memo{
    display: flex;
    flex-direction: row;
}

.delivery3_memo_select{
    margin-bottom: 5px;
    margin-left: 18px;
    margin-top: 2px;
}

.payment3_amount{
    border: 3px solid rgb(189, 189, 189);
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 70%;
    height: 15%;
    text-align: center;
    font-size: 1.5vh;
    position: relative;
    top: 7%;
}

.payment3_amount_title{
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    top: 7%;
}

.payment3_amount_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3px;
}

.payment3_amount_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payment3_amount_3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payment3_method{
    border: 3px solid rgb(189, 189, 189);
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 70%;
    height: 18%;
    font-size: 1.5vh;
    position: relative;
    top: 10%;
}

.payment3_method_title{
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    top: 10%;
}

.payment3_method_list{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.vertical_line{
    width:3px;
    background-color:#b3b3b3;
    margin: 10px;
}

.drawer3_pay_method{
    flex: 1;
    /* background-color: rgb(238, 238, 238); */
    padding: 10px;
    border-radius: 10px;
    height: 90%;
}

.drawer3_pay_method_title{
    font-size: 1.6vh;
}

.drawer3_pay_method_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5vh;
}

.drawer3_pay_method_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drawer3_pay_method_3{
    display: flex;
    flex-direction: column;
    font-size: 1.3vh;
    color: rgb(158, 158, 158);
}

.kb_logo{
    width: 15px;
    margin-right: 5px;
    margin-top: 3px;
}

.purchase_btn3{
    background-color: #909090;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: relative;
    top: 15%;
    left: 45%;
}

.purchase_btn3:hover{
    cursor: pointer;
}