@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lora&family=Noto+Sans+KR:wght@100;200;300&display=swap');

.myInfo.close, .specs.close, .addToBag.close{
    display:none;
}

.my_story{
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 30%;
    position: relative;
    width: 100vw;
}

.myStoryTitle{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -26vh;
    z-index: 1;
    font-size: 1.1vw;
}

.myInfoTitle, .specsTitle, .shoppingBag{
    cursor: pointer;
    font-weight: bolder;
}

.myInfoTitle.none, .specsTitle.none, .shoppingBag.none{
    font-weight: normal;
}

.borderR{
    border-right: 1px solid black;
    margin: 0 1vw;
    height: 2.4vh;
}

.closeMystoryBtn{
    width: 2vw;
    position: absolute;
    top: -1vh;
    right: -6vw;
}

.closeMystoryBtn:hover{
    cursor: pointer;
}

.editInfo{
    background-color: rgb(103, 109, 114);
    color: white;
    padding: 0.5vh;
    border-radius: 5vw;
    width: 3vw;
    white-space: nowrap;
    text-align: center;
}

.basicInfoTitle{
    position: absolute;
    top: -21vh;
    left: 6vw;
    font-size: 1.6vh;
}

.basicInfo{
    width: 30vw;
    height: 28vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.basicInfoContents{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 28vw;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.profile_list{
    display: flex;
    flex-direction: row;
}

.emailInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.profileIcon{
    width: 1.5vw;
    height: 3vh;
    margin-right: 1vw;
}

.phoneIcon{
    width: 1.5vw;
    height: 3vh;
    margin-right: 1vw;
}

.addressIcon{
    width: 1.5vw;
    height: 3vh;
    margin-right: 1vw;
}

.emailIcon{
    width: 1.5vw;
    height: 2.5vh;
    margin-right: 1vw;
}

.onoffIcon:hover{
    cursor: pointer;
}

.phoneInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.addressInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.promotionTitle{
    margin: 1vh;
    position: absolute;
    top: 11vh;
    left: 5.5vw;
    font-size: 1.6vh;
}

.promotion{
    width: 30vw;
    height: 15vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    background-color: white;
    position: absolute;
    top: 15vh;
    left: 5vw;
    padding: 0.5vh;
}

.phoneAgree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 2vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.emailAgree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 2vh;
    font-size: 1.6vh;
    padding: 0.5vh;
}

.alarmTitle{
    margin: 1vh;
    position: absolute;
    top: 31vh;
    left: 5.5vw;
    font-size: 1.6vh;
}

.alarm{
    width: 30vw;
    height: 15vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 35vh;
    left: 5vw;
    padding: 0.5vh;
}

.specsname{
    font-size: 1.6vh;
    position: absolute;
    top: -21vh;
    left: 6vw;
}

.checkProd{
    width: 1.5vw;
    height: 3.5vh;
    margin-bottom: 0
}

.purchaseConfirm_txt{
    margin-bottom: 1vh;
}

.purchaseConfirmList{
    text-align: center;
}

.purchaseConfirm{
    width: 1.5vw;
    height: 3.5vh;
}

.sales{
    width: 30vw;
    height: 18vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    font-size: 1.6vh;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.salesList{
    display: flex;
    flex-direction: column;
}

.salesInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 2vh;
}

.salesInfoImg{
    width: 2vw;
    height: 5vh;
}

.plus{
    text-align: center;
    border: 1px solid gray;
    border-radius: 5vw;
    width: 7vw;
    margin: 0 auto;
    padding: 1vh;
    white-space: nowrap;
}

.specsname_2{
    font-size: 1.6vh;
    position: absolute;
    top: 2vh;
    left: 6vw;
}

.purchase{
    width: 30vw;
    height: 18vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    font-size: 1.6vh;
    position: absolute;
    top: 6vh;
    left: 5vw;
}

.purchaseList{
    display: flex;
    flex-direction: column;
}

.purchaseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 2vh;
}

.purchaseInfoImg{
    width: 1.2vw;
    height: 5vh;
    margin-left: 0.5vw;
}

.shoppingBagList{
    position: absolute;
    top: -21vh;
    left: 6vw;
    font-size: 1.6vh;
}

.shoppingProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 24vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    font-size: 1.6vh;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.shoppingProductInfo{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(215, 215, 215);
    margin: 1vh;
    width: 26vw;
    white-space: nowrap;
    padding: 1vh;
    justify-content: space-around;
}

.shoppingImg_1{
    width: 4vw;
    height: 5vh;
    margin-right: 2vw;
}

.shoppingImg_2{
    width: 4vw;
    height: 5vh;
    margin-right: 1.8vw;

}

.shoppingProdName{
    margin: 1vh;
}

.shoppingPrice{
    margin: 1vh;
}

.shoppingPrice_2{
    margin: 1vh;
}

.shoppingCheck{
    margin-left: 4vh;
    accent-color: gray;
    zoom: 1.5;
}

.shoppingCheck2{
    margin-left: 9vh;
    margin-bottom: 2vh;
    accent-color: gray;
    zoom: 1.5;
}

.buyButton{
    text-decoration: none;
    color: white;
    background-color:#909090;
    border-radius: 0.5vw;
    padding: 1vh;
    position: absolute;
    top: 10vh;
    left: 18vw;
}

.editInfoBtn{
    cursor: pointer;
    position: absolute;
    bottom: -25vh;
    left: 6vw;
    font-size: 1.8vh;
}

.withdrawal{
    cursor: pointer;
    position: absolute;
    bottom: -30vh;
    left: 6vw;
    font-size: 1.8vh;

}

.admin{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: -25vh;
    left: 30vw;
    font-size: 2.1vh;
}

.hidden {
    visibility: hidden;
}

.salesInfo_1{
    margin-bottom: 1vh;
}

.salesInfo_3{
    margin-bottom: 1vh;
}

.purchaseInfo_1{
    margin-bottom: 1vh;
}

.purchaseInfo_3{
    margin-bottom: 1vh;
}