.myInfo.close, .specs.close, .addToBag.close{
    display:none;
}

.my_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 30%;
    position: relative;
    width: 100vw;
}

.myStoryTitle{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -26vh;
    z-index: 1;
    font-size: 1.1vw;
}

.myInfoTitle, .specsTitle, .shoppingBag{
    cursor: pointer;
    font-weight: bolder;
}

.myInfoTitle.none, .specsTitle.none, .shoppingBag.none{
    font-weight: normal;
}

.borderR{
    border-right: 1px solid black;
    margin: 0 1vw;
    height: 4vh;
}

.closeMystoryBtn img{
    width: 2vw;
    position: absolute;
    right: -6vw;
}

.closeMystoryBtn img:hover{
    cursor: pointer;
}

.basicInfoTitle{
    position: absolute;
    top: -21vh;
    left: 6vw;
    font-size: 1.9vh;
}


.basicInfo{
    width: 30vw;
    height: 24vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.basicInfoContents{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 28vw;
    font-size: 1.9vh;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.9vh;
}

.emailInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.9vh;
}

.profileIcon{
    width: 1.5vw;
    height: 3vh;
}

.phoneIcon{
    width: 1.5vw;
    height: 3vh;
}

.addressIcon{
    width: 1.5vw;
    height: 3vh;
}

.emailIcon{
    width: 1.5vw;
    height: 2.5vh;
}

.onoffIcon:hover{
    cursor: pointer;
}

.phoneInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.9vh;
}

.addressInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 1vh;
    font-size: 1.9vh;
}

.promotionTitle{
    margin: 1vh;
    position: absolute;
    top: 7vh;
    right: 25vw;
    font-size: 1.9vh;
}

.promotion{
    width: 30vw;
    height: 13vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    background-color: white;
    position: absolute;
    top: 11vh;
    left: 5vw;
}

.phoneAgree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 2vh;
    font-size: 2vh;
}

.emailAgree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 2vh;
    font-size: 2vh;
}

.alarmTitle{
    margin: 1vh;
    position: absolute;
    top: 25vh;
    right: 24vw;
    font-size: 1.9vh;
}

.alarm{
    width: 30vw;
    height: 13vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 30vh;
    left: 5vw;
}

.specsname{
    font-size: 1.9vh;
    position: absolute;
    top: -21vh;
    left: 6vw;
}

.checkProd{
    width: 1.5vw;
    height: 4vh;
}

.purchaseConfirmList{
    text-align: center;
}

.purchaseConfirm{
    width: 2vw;
    height: 4vh;
}

.sales{
    width: 30vw;
    height: 18vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    font-size: 1.9vh;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.salesList{
    display: flex;
    flex-direction: column;
}

.salesInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 2vh;
}

.plus{
    text-align: center;
}

.specsname_2{
    font-size: 1.9vh;
    position: absolute;
    top: 2vh;
    left: 6vw;
}

.purchase{
    width: 30vw;
    height: 20vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    font-size: 1.9vh;
    position: absolute;
    top: 6vh;
    left: 5vw;
}

.purchaseList{
    display: flex;
    flex-direction: column;
}

.purchaseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 2vh;
}

.shoppingBagList{
    position: absolute;
    top: -21vh;
    left: 6vw;
    font-size: 1.9vh;
}

.shoppingProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 20vh;
    border: 2px solid rgba(161, 161, 161, 0.9);
    border-radius: 1vw;
    margin: 0 auto;
    background-color: white;
    font-size: 1.9vh;
    position: absolute;
    top: -18vh;
    left: 5vw;
}

.shoppingProductInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin: 2vh;
    width: 26vw;
    white-space: nowrap;
}

.shoppingImg{
    margin: 1vh;
}

.shoppingProdName{
    margin: 1vh;
}

.shoppingPrice{
    margin: 1vh;
}

.buyButton{
    text-decoration: none;
    color: white;
    background-color:#909090;
    border-radius: 0.5vw;
    padding: 1vh;
    position: absolute;
    top: 10vh;
    left: 18vw;
}

.withdrawal{
    cursor: pointer;
    position: absolute;
    bottom: -25vh;
    left: 18.5vw;
    font-size: 2.1vh;
}

/* .admin{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
} */