.join{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.joinTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.join_title{
    font-size: 2vw;
    font-weight: bold;
    margin-right: 60px;
}

.close img{
    width: 5vh;
}

.close:hover{
    cursor: pointer;
}

.emailInput, .passwordInput, .passwordCheck, .nicknameInput, .phoneNumInput{
    width: 300px;
    height: 20px;
    font-size: 15px;
    margin: 10px;
    padding: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(119, 119, 119, 0.9);
}

.emailInput:focus, .passwordInput:focus, .passwordCheck:focus, .nicknameInput:focus, .phoneNumInput:focus, 
.addressInput:focus, .detailedAddressInput:focus{
    outline: none;
    background-color: #b8b8b8;
    border-radius: 10px;
}

.emailInput:focus::placeholder, .passwordInput:focus::placeholder, .passwordCheck:focus::placeholder{
    visibility: hidden;
    transition: visibility 1s ease-in-out;
}

.termsDesc{
    resize: none;
    overflow: auto;
    width: 25vw;
    height: 10vh;
}

.terms_contents:focus{
    outline: none;
}

.addressInput, .detailedAddressInput{
    width: 300px;
    height: 20px;
    font-size: 15px;
    margin: 10px;
    padding: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(119, 119, 119, 0.9);
}

.warning{
    color: rgb(247, 22, 22);
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.totalWarning{
    color: rgb(247, 22, 22);
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.pass{
    color: rgb(59, 59, 255);
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.termsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.termsContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}

.signUpComplete{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.signUpBtn{
    background-color: #2b2b2b;
    color: #d7fff1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.signUpBtn.invalid{
    background-color: #a3a1a1;
    color: #ffffff;
    cursor: pointer;
}

.termsBtn{
    background-color: #a3a1a1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.termsBtn.invalid{
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.termsConfirmBtn{
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.termsConfirmBtn.invalid{
    background-color: #a3a1a1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}
