.pay_complete_container_3{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #FFEEE9;
}

.payment_complete_wrapper_left{
    flex: 1.2;
    text-align: center;
    margin-top: 100px;
}

.payment_complete_product_img{
    width: 60%;
}

.pay_complete_wrapper_right{
    flex: 1;
}

.pay_complete_wrapper_right_box{
    width: 80%;
    height: 93.1%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.pay_complete_wrapper{
    flex: 0.5;
    margin: 0 auto;
    text-align: center;
}

.pay_complete_title{
    font-size: 4vh;
    margin: 10px;
}

.pay_complete_number{
    font-size: 2.3vh;
    margin: 10px;
}

.pay_complete_desc{
    font-size: 2vh;
    margin: 10px;
    color: gray;
}

.pay_account_info{
    flex: 1.5;
    margin: 50px auto;
    text-align: center;
    border: 3px solid rgb(189, 189, 189);
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 90%;
    height: 23%;
    font-size: 2.1vh;
    background-color: white;
}

.pay_account_info_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.pay_account_info_2_1{
    margin: 10px;
}

.pay_account_info_2_1_1, .pay_account_info_2_1_2, .pay_account_info_2_1_3{
    margin: 10px;
}

.pay_account_info_2_2_1, .pay_account_info_2_2_2, .pay_account_info_2_2_3{
    margin: 10px;
}

.pay_account_info_2_2{
    margin: 10px;
    text-align: left;
}

.vr{
    width:3px;
    background-color:#b3b3b3;
}

.pay_complete_desc2{
    flex: 0.5;
    margin: 50px auto;
    text-align: center;
    font-size: 2vh;
    color: rgb(107, 107, 107);
}

.pay_gotoMain{
    flex: 0.5;
    margin: 0 auto;

}



