.bg-aqua { background-color: aqua; }
.bg-aquamarine { background-color: aquamarine; }
.bg-azure { background-color: azure; }
.bg-beige { background-color: beige; }
.bg-bisque { background-color: bisque; }
.bg-black { background-color: black; }
.bg-blue { background-color: blue; }
.bg-blueviolet { background-color: blueviolet; }
.bg-brown { background-color: brown; }
.bg-chocolate { background-color: chocolate; }
.bg-gray { background-color: gray; }
.bg-green { background-color: green; }
.bg-lavender { background-color: lavender; }
.bg-magenta { background-color: magenta; }
.bg-navy { background-color: navy; }
.bg-red { background-color: red; }
.bg-violet { background-color: violet; }
.bg-white { background-color: white; }
.bg-yellow { background-color: yellow; }

.font-aqua { color: aqua; }
.font-aquamarine { color: aquamarine; }
.font-azure { color: azure; }
.font-bisque { color: bisque; }
.font-black { color: black; }
.font-blue { color: blue; }
.font-blueviolet { color: blueviolet; }
.font-brown { color: brown; }
.font-chocolate { color: chocolate; }
.font-gray { color: gray; }
.font-green { color: green; }
.font-lavender { color: lavender; }
.font-magenta { color: magenta; }
.font-navy { color: navy; }
.font-red { color: red; }
.font-violet { color: violet; }
.font-white { color: white; }
.font-yellow { color: yellow; }