.font-size-5 { font-size: 5px; } .font-size-15 { font-size: 15px; }
.font-size-25 { font-size: 25px; } .font-size-35 { font-size: 35px; }
.font-size-45 { font-size: 45px; } .font-size-55 { font-size: 55px; }
.font-size-65 { font-size: 65px; } .font-size-75 { font-size: 75px; }
.font-size-85 { font-size: 85px; } .font-size-95 { font-size: 95px; }
.font-size-105 { font-size: 105px; } .font-size-115 { font-size: 115px; }
.font-size-125 { font-size: 125px; } .font-size-135 { font-size: 135px; }
.font-size-145 { font-size: 145px; } .font-size-155 { font-size: 155px; }
.font-size-165 { font-size: 165px; } .font-size-175 { font-size: 175px; }
.font-size-185 { font-size: 185px; } .font-size-195 { font-size: 195px; }
.font-size-205 { font-size: 205px; } .font-size-215 { font-size: 215px; }
.font-size-225 { font-size: 225px; } .font-size-235 { font-size: 235px; }
.font-size-245 { font-size: 245px; } .font-size-255 { font-size: 255px; }
.font-size-265 { font-size: 265px; } .font-size-275 { font-size: 275px; }
.font-size-285 { font-size: 285px; } .font-size-295 { font-size: 295px; }

.font-size-10 { font-size: 10px; } .font-size-20 { font-size: 20px; }
.font-size-30 { font-size: 30px; } .font-size-40 { font-size: 40px; }
.font-size-50 { font-size: 50px; } .font-size-60 { font-size: 60px; }
.font-size-70 { font-size: 70px; } .font-size-80 { font-size: 80px; }
.font-size-90 { font-size: 90px; } .font-size-100 { font-size: 100px; }
.font-size-110 { font-size: 110px; } .font-size-120 { font-size: 120px; }
.font-size-130 { font-size: 130px; } .font-size-140 { font-size: 140px; }
.font-size-150 { font-size: 150px; } .font-size-160 { font-size: 160px; }
.font-size-170 { font-size: 170px; } .font-size-180 { font-size: 180px; }
.font-size-190 { font-size: 190px; } .font-size-200 { font-size: 200px; }
.font-size-210 { font-size: 210px; } .font-size-220 { font-size: 220px; }
.font-size-230 { font-size: 230px; } .font-size-240 { font-size: 240px; }
.font-size-250 { font-size: 250px; } .font-size-260 { font-size: 260px; }
.font-size-270 { font-size: 270px; } .font-size-280 { font-size: 280px; }
.font-size-290 { font-size: 290px; } .font-size-300 { font-size: 300px; }

.font-lighter { font-weight: lighter; }
.font-normal { font-weight: normal; }
.font-bold { font-weight: bold; }