.margin-0 { margin: 0px; }
.margin-10 { margin: 10px; } .margin-d10 { margin: -10px; }
.margin-20 { margin: 20px; } .margin-d20 { margin: -20px; }
.margin-30 { margin: 30px; } .margin-d30 { margin: -30px; }
.margin-40 { margin: 40px; } .margin-d40 { margin: -40px; }
.margin-50 { margin: 50px; } .margin-d50 { margin: -50px; }
.margin-60 { margin: 60px; } .margin-d60 { margin: -60px; }
.margin-70 { margin: 70px; } .margin-d70 { margin: -70px; }
.margin-80 { margin: 80px; } .margin-d80 { margin: -80px; }
.margin-90 { margin: 90px; } .margin-d90 { margin: -90px; }
.margin-100 { margin: 100px; } .margin-d100 { margin: -100px; }
.margin-110 { margin: 110px; } .margin-d110 { margin: -110px; }
.margin-120 { margin: 120px; } .margin-d120 { margin: -120px; }
.margin-130 { margin: 130px; } .margin-d130 { margin: -130px; }
.margin-140 { margin: 140px; } .margin-d140 { margin: -140px; }
.margin-150 { margin: 150px; } .margin-d150 { margin: -150px; }

.margin-top-0 { margin-top: 0px; }
.margin-top-10 { margin-top: 10px; } .margin-top-d10 { margin-top: -10px; }
.margin-top-20 { margin-top: 20px; } .margin-top-d20 { margin-top: -20px; }
.margin-top-30 { margin-top: 30px; } .margin-top-d30 { margin-top: -30px; }
.margin-top-40 { margin-top: 40px; } .margin-top-d40 { margin-top: -40px; }
.margin-top-50 { margin-top: 50px; } .margin-top-d50 { margin-top: -50px; }
.margin-top-60 { margin-top: 60px; } .margin-top-d60 { margin-top: -60px; }
.margin-top-70 { margin-top: 70px; } .margin-top-d70 { margin-top: -70px; }
.margin-top-80 { margin-top: 80px; } .margin-top-d80 { margin-top: -80px; }
.margin-top-90 { margin-top: 90px; } .margin-top-d90 { margin-top: -90px; }
.margin-top-100 { margin-top: 100px; } .margin-top-d100 { margin-top: -100px; }
.margin-top-110 { margin-top: 110px; } .margin-top-d110 { margin-top: -110px; }
.margin-top-120 { margin-top: 120px; } .margin-top-d120 { margin-top: -120px; }
.margin-top-130 { margin-top: 130px; } .margin-top-d130 { margin-top: -130px; }
.margin-top-140 { margin-top: 140px; } .margin-top-d140 { margin-top: -140px; }
.margin-top-150 { margin-top: 150px; } .margin-top-d150 { margin-top: -150px; }

.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-10 { margin-bottom: 10px; } .margin-bottom-d10 { margin-bottom: -10px; }
.margin-bottom-20 { margin-bottom: 20px; } .margin-bottom-d20 { margin-bottom: -20px; }
.margin-bottom-30 { margin-bottom: 30px; } .margin-bottom-d30 { margin-bottom: -30px; }
.margin-bottom-40 { margin-bottom: 40px; } .margin-bottom-d40 { margin-bottom: -40px; }
.margin-bottom-50 { margin-bottom: 50px; } .margin-bottom-d50 { margin-bottom: -50px; }
.margin-bottom-60 { margin-bottom: 60px; } .margin-bottom-d60 { margin-bottom: -60px; }
.margin-bottom-70 { margin-bottom: 70px; } .margin-bottom-d70 { margin-bottom: -70px; }
.margin-bottom-80 { margin-bottom: 80px; } .margin-bottom-d80 { margin-bottom: -80px; }
.margin-bottom-90 { margin-bottom: 90px; } .margin-bottom-d90 { margin-bottom: -90px; }
.margin-bottom-100 { margin-bottom: 100px; } .margin-bottom-d100 { margin-bottom: -100px; }
.margin-bottom-110 { margin-bottom: 110px; } .margin-bottom-d110 { margin-bottom: -110px; }
.margin-bottom-120 { margin-bottom: 120px; } .margin-bottom-d120 { margin-bottom: -120px; }
.margin-bottom-130 { margin-bottom: 130px; } .margin-bottom-d130 { margin-bottom: -130px; }
.margin-bottom-140 { margin-bottom: 140px; } .margin-bottom-d140 { margin-bottom: -140px; }
.margin-bottom-150 { margin-bottom: 150px; } .margin-bottom-d150 { margin-bottom: -150px; }

.margin-left-0 { margin-left: 0px; }
.margin-left-10 { margin-left: 10px; } .margin-left-d10 { margin-left: -10px; }
.margin-left-20 { margin-left: 20px; } .margin-left-d20 { margin-left: -20px; }
.margin-left-30 { margin-left: 30px; } .margin-left-d30 { margin-left: -30px; }
.margin-left-40 { margin-left: 40px; } .margin-left-d40 { margin-left: -40px; }
.margin-left-50 { margin-left: 50px; } .margin-left-d50 { margin-left: -50px; }
.margin-left-60 { margin-left: 60px; } .margin-left-d60 { margin-left: -60px; }
.margin-left-70 { margin-left: 70px; } .margin-left-d70 { margin-left: -70px; }
.margin-left-80 { margin-left: 80px; } .margin-left-d80 { margin-left: -80px; }
.margin-left-90 { margin-left: 90px; } .margin-left-d90 { margin-left: -90px; }
.margin-left-100 { margin-left: 100px; } .margin-left-d100 { margin-left: -100px; }
.margin-left-110 { margin-left: 110px; } .margin-left-d110 { margin-left: -110px; }
.margin-left-120 { margin-left: 120px; } .margin-left-d120 { margin-left: -120px; }
.margin-left-130 { margin-left: 130px; } .margin-left-d130 { margin-left: -130px; }
.margin-left-140 { margin-left: 140px; } .margin-left-d140 { margin-left: -140px; }
.margin-left-150 { margin-left: 150px; } .margin-left-d150 { margin-left: -150px; }

.margin-right-0 { margin-right: 0px; }
.margin-right-10 { margin-right: 10px; } .margin-right-d10 { margin-right: -10px; }
.margin-right-20 { margin-right: 20px; } .margin-right-d20 { margin-right: -20px; }
.margin-right-30 { margin-right: 30px; } .margin-right-d30 { margin-right: -30px; }
.margin-right-40 { margin-right: 40px; } .margin-right-d40 { margin-right: -40px; }
.margin-right-50 { margin-right: 50px; } .margin-right-d50 { margin-right: -50px; }
.margin-right-60 { margin-right: 60px; } .margin-right-d60 { margin-right: -60px; }
.margin-right-70 { margin-right: 70px; } .margin-right-d70 { margin-right: -70px; }
.margin-right-80 { margin-right: 80px; } .margin-right-d80 { margin-right: -80px; }
.margin-right-90 { margin-right: 90px; } .margin-right-d90 { margin-right: -90px; }
.margin-right-100 { margin-right: 100px; } .margin-right-d100 { margin-right: -100px; }
.margin-right-110 { margin-right: 110px; } .margin-right-d110 { margin-right: -110px; }
.margin-right-120 { margin-right: 120px; } .margin-right-d120 { margin-right: -120px; }
.margin-right-130 { margin-right: 130px; } .margin-right-d130 { margin-right: -130px; }
.margin-right-140 { margin-right: 140px; } .margin-right-d140 { margin-right: -140px; }
.margin-right-150 { margin-right: 150px; } .margin-right-d150 { margin-right: -150px; }

.margin-top-10vh { margin-top: 10vh; } .margin-top-d10vh { margin-top: -10vh; }
.margin-top-20vh { margin-top: 20vh; } .margin-top-d20vh { margin-top: -20vh; }
.margin-top-30vh { margin-top: 30vh; } .margin-top-d30vh { margin-top: -30vh; }
.margin-top-40vh { margin-top: 40vh; } .margin-top-d40vh { margin-top: -40vh; }
.margin-top-50vh { margin-top: 50vh; } .margin-top-d50vh { margin-top: -50vh; }
.margin-top-60vh { margin-top: 60vh; } .margin-top-d60vh { margin-top: -60vh; }
.margin-top-70vh { margin-top: 70vh; } .margin-top-d70vh { margin-top: -70vh; }
.margin-top-80vh { margin-top: 80vh; } .margin-top-d80vh { margin-top: -80vh; }
.margin-top-90vh { margin-top: 90vh; } .margin-top-d90vh { margin-top: -90vh; }
.margin-top-100vh { margin-top: 100vh; } .margin-top-d100vh { margin-top: -100vh; }
.margin-top-110vh { margin-top: 110vh; } .margin-top-d110vh { margin-top: -110vh; }
.margin-top-120vh { margin-top: 120vh; } .margin-top-d120vh { margin-top: -120vh; }
.margin-top-130vh { margin-top: 130vh; } .margin-top-d130vh { margin-top: -130vh; }
.margin-top-140vh { margin-top: 140vh; } .margin-top-d140vh { margin-top: -140vh; }
.margin-top-150vh { margin-top: 150vh; } .margin-top-d150vh { margin-top: -150vh; }

.margin-bottom-10vh { margin-bottom: 10vh; } .margin-bottom-d10vh { margin-bottom: -10vh; }
.margin-bottom-20vh { margin-bottom: 20vh; } .margin-bottom-d20vh { margin-bottom: -20vh; }
.margin-bottom-30vh { margin-bottom: 30vh; } .margin-bottom-d30vh { margin-bottom: -30vh; }
.margin-bottom-40vh { margin-bottom: 40vh; } .margin-bottom-d40vh { margin-bottom: -40vh; }
.margin-bottom-50vh { margin-bottom: 50vh; } .margin-bottom-d50vh { margin-bottom: -50vh; }
.margin-bottom-60vh { margin-bottom: 60vh; } .margin-bottom-d60vh { margin-bottom: -60vh; }
.margin-bottom-70vh { margin-bottom: 70vh; } .margin-bottom-d70vh { margin-bottom: -70vh; }
.margin-bottom-80vh { margin-bottom: 80vh; } .margin-bottom-d80vh { margin-bottom: -80vh; }
.margin-bottom-90vh { margin-bottom: 90vh; } .margin-bottom-d90vh { margin-bottom: -90vh; }
.margin-bottom-100vh { margin-bottom: 100vh; } .margin-bottom-d100vh { margin-bottom: -100vh; }
.margin-bottom-110vh { margin-bottom: 110vh; } .margin-bottom-d110vh { margin-bottom: -110vh; }
.margin-bottom-120vh { margin-bottom: 120vh; } .margin-bottom-d120vh { margin-bottom: -120vh; }
.margin-bottom-130vh { margin-bottom: 130vh; } .margin-bottom-d130vh { margin-bottom: -130vh; }
.margin-bottom-140vh { margin-bottom: 140vh; } .margin-bottom-d140vh { margin-bottom: -140vh; }
.margin-bottom-150vh { margin-bottom: 150vh; } .margin-bottom-d150vh { margin-bottom: -150vh; }

.margin-left-10vw { margin-left: 10vw; } .margin-left-d10vw { margin-left: -10vw; }
.margin-left-20vw { margin-left: 20vw; } .margin-left-d20vw { margin-left: -20vw; }
.margin-left-30vw { margin-left: 30vw; } .margin-left-d30vw { margin-left: -30vw; }
.margin-left-40vw { margin-left: 40vw; } .margin-left-d40vw { margin-left: -40vw; }
.margin-left-50vw { margin-left: 50vw; } .margin-left-d50vw { margin-left: -50vw; }
.margin-left-60vw { margin-left: 60vw; } .margin-left-d60vw { margin-left: -60vw; }
.margin-left-70vw { margin-left: 70vw; } .margin-left-d70vw { margin-left: -70vw; }
.margin-left-80vw { margin-left: 80vw; } .margin-left-d80vw { margin-left: -80vw; }
.margin-left-90vw { margin-left: 90vw; } .margin-left-d90vw { margin-left: -90vw; }
.margin-left-100vw { margin-left: 100vw; } .margin-left-d100vw { margin-left: -100vw; }
.margin-left-110vw { margin-left: 110vw; } .margin-left-d110vw { margin-left: -110vw; }
.margin-left-120vw { margin-left: 120vw; } .margin-left-d120vw { margin-left: -120vw; }
.margin-left-130vw { margin-left: 130vw; } .margin-left-d130vw { margin-left: -130vw; }
.margin-left-140vw { margin-left: 140vw; } .margin-left-d140vw { margin-left: -140vw; }
.margin-left-150vw { margin-left: 150vw; } .margin-left-d150vw { margin-left: -150vw; }

.margin-right-10vw { margin-right: 10vw; } .margin-right-d10vw { margin-right: -10vw; }
.margin-right-20vw { margin-right: 20vw; } .margin-right-d20vw { margin-right: -20vw; }
.margin-right-30vw { margin-right: 30vw; } .margin-right-d30vw { margin-right: -30vw; }
.margin-right-40vw { margin-right: 40vw; } .margin-right-d40vw { margin-right: -40vw; }
.margin-right-50vw { margin-right: 50vw; } .margin-right-d50vw { margin-right: -50vw; }
.margin-right-60vw { margin-right: 60vw; } .margin-right-d60vw { margin-right: -60vw; }
.margin-right-70vw { margin-right: 70vw; } .margin-right-d70vw { margin-right: -70vw; }
.margin-right-80vw { margin-right: 80vw; } .margin-right-d80vw { margin-right: -80vw; }
.margin-right-90vw { margin-right: 90vw; } .margin-right-d90vw { margin-right: -90vw; }
.margin-right-100vw { margin-right: 100vw; } .margin-right-d100vw { margin-right: -100vw; }
.margin-right-110vw { margin-right: 110vw; } .margin-right-d110vw { margin-right: -110vw; }
.margin-right-120vw { margin-right: 120vw; } .margin-right-d120vw { margin-right: -120vw; }
.margin-right-130vw { margin-right: 130vw; } .margin-right-d130vw { margin-right: -130vw; }
.margin-right-140vw { margin-right: 140vw; } .margin-right-d140vw { margin-right: -140vw; }
.margin-right-150vw { margin-right: 150vw; } .margin-right-d150vw { margin-right: -150vw; }

.padding-0 { padding: 0px; }
.padding-10 { padding: 10px; } .padding-d10 { padding: -10px; }
.padding-20 { padding: 20px; } .padding-d20 { padding: -20px; }
.padding-30 { padding: 30px; } .padding-d30 { padding: -30px; }
.padding-40 { padding: 40px; } .padding-d40 { padding: -40px; }
.padding-50 { padding: 50px; } .padding-d50 { padding: -50px; }
.padding-60 { padding: 60px; } .padding-d60 { padding: -60px; }
.padding-70 { padding: 70px; } .padding-d70 { padding: -70px; }
.padding-80 { padding: 80px; } .padding-d80 { padding: -80px; }
.padding-90 { padding: 90px; } .padding-d90 { padding: -90px; }
.padding-100 { padding: 100px; } .padding-d100 { padding: -100px; }
.padding-110 { padding: 110px; } .padding-d110 { padding: -110px; }
.padding-120 { padding: 120px; } .padding-d120 { padding: -120px; }
.padding-130 { padding: 130px; } .padding-d130 { padding: -130px; }
.padding-140 { padding: 140px; } .padding-d140 { padding: -140px; }
.padding-150 { padding: 150px; } .padding-d150 { padding: -150px; }

.padding-top-0 { padding-top: 0px; }
.padding-top-10 { padding-top: 10px; } .padding-top-d10 { padding-top: -10px; }
.padding-top-20 { padding-top: 20px; } .padding-top-d20 { padding-top: -20px; }
.padding-top-30 { padding-top: 30px; } .padding-top-d30 { padding-top: -30px; }
.padding-top-40 { padding-top: 40px; } .padding-top-d40 { padding-top: -40px; }
.padding-top-50 { padding-top: 50px; } .padding-top-d50 { padding-top: -50px; }
.padding-top-60 { padding-top: 60px; } .padding-top-d60 { padding-top: -60px; }
.padding-top-70 { padding-top: 70px; } .padding-top-d70 { padding-top: -70px; }
.padding-top-80 { padding-top: 80px; } .padding-top-d80 { padding-top: -80px; }
.padding-top-90 { padding-top: 90px; } .padding-top-d90 { padding-top: -90px; }
.padding-top-100 { padding-top: 100px; } .padding-top-d100 { padding-top: -100px; }
.padding-top-110 { padding-top: 110px; } .padding-top-d110 { padding-top: -110px; }
.padding-top-120 { padding-top: 120px; } .padding-top-d120 { padding-top: -120px; }
.padding-top-130 { padding-top: 130px; } .padding-top-d130 { padding-top: -130px; }
.padding-top-140 { padding-top: 140px; } .padding-top-d140 { padding-top: -140px; }
.padding-top-150 { padding-top: 150px; } .padding-top-d150 { padding-top: -150px; }

.padding-bottom-0 { padding-bottom: 0px; }
.padding-bottom-10 { padding-bottom: 10px; } .padding-bottom-d10 { padding-bottom: -10px; }
.padding-bottom-20 { padding-bottom: 20px; } .padding-bottom-d20 { padding-bottom: -20px; }
.padding-bottom-30 { padding-bottom: 30px; } .padding-bottom-d30 { padding-bottom: -30px; }
.padding-bottom-40 { padding-bottom: 40px; } .padding-bottom-d40 { padding-bottom: -40px; }
.padding-bottom-50 { padding-bottom: 50px; } .padding-bottom-d50 { padding-bottom: -50px; }
.padding-bottom-60 { padding-bottom: 60px; } .padding-bottom-d60 { padding-bottom: -60px; }
.padding-bottom-70 { padding-bottom: 70px; } .padding-bottom-d70 { padding-bottom: -70px; }
.padding-bottom-80 { padding-bottom: 80px; } .padding-bottom-d80 { padding-bottom: -80px; }
.padding-bottom-90 { padding-bottom: 90px; } .padding-bottom-d90 { padding-bottom: -90px; }
.padding-bottom-100 { padding-bottom: 100px; } .padding-bottom-d100 { padding-bottom: -100px; }
.padding-bottom-110 { padding-bottom: 110px; } .padding-bottom-d110 { padding-bottom: -110px; }
.padding-bottom-120 { padding-bottom: 120px; } .padding-bottom-d120 { padding-bottom: -120px; }
.padding-bottom-130 { padding-bottom: 130px; } .padding-bottom-d130 { padding-bottom: -130px; }
.padding-bottom-140 { padding-bottom: 140px; } .padding-bottom-d140 { padding-bottom: -140px; }
.padding-bottom-150 { padding-bottom: 150px; } .padding-bottom-d150 { padding-bottom: -150px; }

.padding-left-0 { padding-left: 0px; }
.padding-left-10 { padding-left: 10px; } .padding-left-d10 { padding-left: -10px; }
.padding-left-20 { padding-left: 20px; } .padding-left-d20 { padding-left: -20px; }
.padding-left-30 { padding-left: 30px; } .padding-left-d30 { padding-left: -30px; }
.padding-left-40 { padding-left: 40px; } .padding-left-d40 { padding-left: -40px; }
.padding-left-50 { padding-left: 50px; } .padding-left-d50 { padding-left: -50px; }
.padding-left-60 { padding-left: 60px; } .padding-left-d60 { padding-left: -60px; }
.padding-left-70 { padding-left: 70px; } .padding-left-d70 { padding-left: -70px; }
.padding-left-80 { padding-left: 80px; } .padding-left-d80 { padding-left: -80px; }
.padding-left-90 { padding-left: 90px; } .padding-left-d90 { padding-left: -90px; }
.padding-left-100 { padding-left: 100px; } .padding-left-d100 { padding-left: -100px; }
.padding-left-110 { padding-left: 110px; } .padding-left-d110 { padding-left: -110px; }
.padding-left-120 { padding-left: 120px; } .padding-left-d120 { padding-left: -120px; }
.padding-left-130 { padding-left: 130px; } .padding-left-d130 { padding-left: -130px; }
.padding-left-140 { padding-left: 140px; } .padding-left-d140 { padding-left: -140px; }
.padding-left-150 { padding-left: 150px; } .padding-left-d150 { padding-left: -150px; }

.padding-right-0 { padding-right: 0px; }
.padding-right-10 { padding-right: 10px; } .padding-right-d10 { padding-right: -10px; }
.padding-right-20 { padding-right: 20px; } .padding-right-d20 { padding-right: -20px; }
.padding-right-30 { padding-right: 30px; } .padding-right-d30 { padding-right: -30px; }
.padding-right-40 { padding-right: 40px; } .padding-right-d40 { padding-right: -40px; }
.padding-right-50 { padding-right: 50px; } .padding-right-d50 { padding-right: -50px; }
.padding-right-60 { padding-right: 60px; } .padding-right-d60 { padding-right: -60px; }
.padding-right-70 { padding-right: 70px; } .padding-right-d70 { padding-right: -70px; }
.padding-right-80 { padding-right: 80px; } .padding-right-d80 { padding-right: -80px; }
.padding-right-90 { padding-right: 90px; } .padding-right-d90 { padding-right: -90px; }
.padding-right-100 { padding-right: 100px; } .padding-right-d100 { padding-right: -100px; }
.padding-right-110 { padding-right: 110px; } .padding-right-d110 { padding-right: -110px; }
.padding-right-120 { padding-right: 120px; } .padding-right-d120 { padding-right: -120px; }
.padding-right-130 { padding-right: 130px; } .padding-right-d130 { padding-right: -130px; }
.padding-right-140 { padding-right: 140px; } .padding-right-d140 { padding-right: -140px; }
.padding-right-150 { padding-right: 150px; } .padding-right-d150 { padding-right: -150px; }