.w-5 { width: 5px; } .w-10 { width: 10px; }
.w-15 { width: 15px; } .w-20 { width: 20px; }
.w-25 { width: 25px; } .w-30 { width: 30px; }
.w-35 { width: 35px; } .w-40 { width: 40px; }
.w-45 { width: 45px; } .w-50 { width: 50px; }
.w-55 { width: 55px; } .w-60 { width: 60px; }
.w-65 { width: 65px; } .w-70 { width: 70px; }
.w-75 { width: 75px; } .w-80 { width: 80px; }
.w-85 { width: 85px; } .w-90 { width: 90px; }
.w-95 { width: 95px; } .w-100 { width: 100px; }

.h-5 { height: 5px; } .h-10 { height: 10px; }
.h-15 { height: 15px; } .h-20 { height: 20px; }
.h-25 { height: 25px; } .h-30 { height: 30px; }
.h-35 { height: 35px; } .h-40 { height: 40px; }
.h-45 { height: 45px; } .h-50 { height: 50px; }
.h-55 { height: 55px; } .h-60 { height: 60px; }
.h-65 { height: 65px; } .h-70 { height: 70px; }
.h-75 { height: 75px; } .h-80 { height: 80px; }
.h-85 { height: 85px; } .h-90 { height: 90px; }
.h-95 { height: 95px; } .h-100 { height: 100px; }

.w-5vw { width: 5vw; } .w-10vw { width: 10vw; }
.w-15vw { width: 15vw; } .w-20vw { width: 20vw; }
.w-25vw { width: 25vw; } .w-30vw { width: 30vw; }
.w-35vw { width: 35vw; } .w-40vw { width: 40vw; }
.w-45vw { width: 45vw; } .w-50vw { width: 50vw; }
.w-55vw { width: 55vw; } .w-60vw { width: 60vw; }
.w-65vw { width: 65vw; } .w-70vw { width: 70vw; }
.w-75vw { width: 75vw; } .w-80vw { width: 80vw; }
.w-85vw { width: 85vw; } .w-90vw { width: 90vw; }
.w-95vw { width: 95vw; } .w-100vw { width: 100vw; }

.h-5vh { height: 5vh; } .h-10vh { height: 10vh; }
.h-15vh { height: 15vh; } .h-20vh { height: 20vh; }
.h-25vh { height: 25vh; } .h-30vh { height: 30vh; }
.h-35vh { height: 35vh; } .h-40vh { height: 40vh; }
.h-45vh { height: 45vh; } .h-50vh { height: 50vh; }
.h-55vh { height: 55vh; } .h-60vh { height: 60vh; }
.h-65vh { height: 65vh; } .h-70vh { height: 70vh; }
.h-75vh { height: 75vh; } .h-80vh { height: 80vh; }
.h-85vh { height: 85vh; } .h-90vh { height: 90vh; }
.h-95vh { height: 95vh; } .h-100vh { height: 100vh; }
.h-105vh { height: 105vh; }